#add-player-form {
    width: 100%;
    padding: 5px;
}

.form-group label {
    font-size: 1rem;
    color: #fff;
}



/*
#add-player-form .row {
    margin: 5px
}

#add-player-form .col-2 {
    padding: 5px;
    font-size: 1.25rem;
    font-weight: 600;
}
 
#add-player-form input {
    font-size: 1.25rem;
    background-color: #fafafa;
    color: black;
} */




/* 
#add-player-modal {
    border: 1px solid salmon;
} */