.app {
  padding: 20px;
}

form {
  width: 50%;
}

.form-input {
  margin: 10px 0px;  
}

.form-input input, .form-input textarea {
  width: 100%;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  border: 1px solid gray;
  /* padding: .375rem, .75rem; */
  padding: 5px;
  /* outline: none; */
}

/* button {
  background-color: cornflowerblue;
  color: white;
  padding: .375rem, .75rem;
  font-size: 1.5;
  border-radius: .25rem;
  cursor: pointer;
} */

.homeBtns {
  width: 100px;
  margin: 5px;
}

.blog-post_display {
  border: 1px solid gray;
  margin: 5px 0px;
  border-radius: 4px;
  padding: 10px;
}





.my-container-fluid {
 
}


.covid19-card {
  /* padding: 25px; */
  
}