.score-form {
    width: 100%;
}

.score-form input {
    margin: 10px 0px;
}



.card-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.card-body .col, .card-body .col-4 {
    padding: 10px;
    font-weight: 600;
}




.card-img {
    opacity: .35;
}
